language: cpp

branches:
  only:
    - master

before_script:
- sudo cp YaHei-Consolas-Hybrid.ttf /usr/share/fonts
- sudo fc-cache -fv
- sudo apt-get install libglib2.0-dev
- git clone --recursive git://github.com/fletcher/MultiMarkdown-4.git
- cd MultiMarkdown-4
- make
- export PATH=$PATH:`pwd`
- uname -a
- lsb_release -a
- sudo apt-get install ttf-arphic-gbsn00lp ttf-arphic-ukai ttf-wqy-microhei ttf-wqy-zenhei
- sudo apt-get install texlive-xetex texlive-latex-recommended texlive-latex-extra

script:
- cd ..
- which multimarkdown
- chmod +x mmd2bok
- "./mmd2bok"

# deploy:
#   provider: releases
#   api_key:
#     secure: O8zb4ytQQfLTFPA/F9UkhLIkUIOhGInqdh8hOjA6gzAt130cUTJtd0zxDadpRfRiH3P7RpPcnJdiGRbJh47OrFY3yg38QiOYDR72vZRPSY91a+jDXXc/2Ouqu3dvASJCl4SBoGK/t5LdpuU44fDai6ubs3T7Cf61KPKJWzByBcY=
#   file: acmtemplate.pdf
#   skip_cleanup: true
#   on:
#     branch: master
#     repo: Xuanwo/OpenSourceBook
